.nav {
  position: fixed;
  max-height: 120px;
  width: 100%;
  background-color:  #4056A1;
  padding: 1.5em;
  z-index: 20;
}

#title {
  color: #FFFFFF;
}

#compose {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  float: right

}

i {
  border: solid orange;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 8px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav span{
  font-family: Bungee;
}

.write-tweet-nav {
  margin-top: 0;
  padding: 0;
  float: right;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40 px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#compose{
  grid-area: 1 / 1 / 2 / 1;
}

#arrow-nav{
  text-align: center;
  grid-area: 2 / 1 / 2 / 1;
  bottom: 0;
  position: relative;
  transition: bottom ease 0.5s;
}

#arrow-nav:hover{
  bottom: -10px;
  cursor: pointer;
}
