.container {
  background-color: inherit;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;

}

textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  font-weight: 600;
  font-size: 0.9em;
}

input[type=submit] {
  background-color: #4152A1;
  color: white;
  font-family: Bungee;
  text-align: left;

}
span.counter {
  float: right;
  color: black;
  font-family: Bungee;
  margin-right: 0.5em;
}

.error-message{
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-height: 3em;
  max-width: 50%;
  background-color: rgba(255, 0, 0, 0.596);
  color: white;
}